/* #content {
    color: lightblue;
} */

.button {
    background-color: gray;
    color: white;
    position: relative;
    border: none;
    top: 20%;
    /* left: 100px; */
    right: 10%
    display: flex;
    width: 70%;
    text-align: center;
    font-size: 1.05vw;
    padding: 2px;
}




.button:hover {
    background-color: lightgray;
    border: 1px solid black;
    color: white;
}

h1 {
    height: 20%;
    
}

.content-column {
    float: left;
    width: 48%;
    margin-left: 15px;
    margin-top: 15px;
    height: 100px;
    /* font-size: 30%; */
    
    
}

.image-column {
    float: right;
    width: 48%;
    margin-right: 15px;
    margin-top: 15px;;
    height: 100px;
    
}

#content p {
    background: #F0F0F0;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
}

.image-column img {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    
}

