/* #content {
    color: lightblue;
} */

.button {
    background-color: white;
    color: maroon;
    position: relative;
    border: 1px solid gold;
    top: 20%;
    /* left: 100px; */
    right: 10%
    display: flex;
    width: 70%;
    text-align: center;
    font-size: 1.05vw;
    padding: 1px;
}


.button:hover {
    background-color: maroon;
    border: 1px solid none;
    color: gold;
}


/* maintain Miligram styling of h1 but change height with page */
h1 {
    height: 20%;
    color: maroon;
}

.content-column {
    float: left;
    width: 48%;
    margin-left: 15px;
    margin-top: 15px;
    height: 100px;
    /* font-size: 30%; */
    
    
}

.image-column {
    float: right;
    width: 48%;
    margin-right: 15px;
    margin-top: 15px;;
    height: 100px;
    
}

#content p {
    background: #F0F0F0;
    color: gray;
    border: 1px dashed lightgray;
    border-radius: 5px;
    padding: 15px;
}

.image-column img {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    
}

a {
    color: maroon;
    text-decoration: none;
    
}

a:hover {
    transition: background-color .7s;
    background-color: gold;
}

/* a:visited {
    color: gold;
} */


#twitter {
    background-color: none;
    border-radius: 50%;
    width: 50px;
    position: relative;
    left: 530px; 
}

#icon-link:hover {
    background-color: aliceblue;
}


body {
    margin: 18px;
    background-color: aliceblue;
}


